<div
  class="flex flex-col h-full overflow-hidden border rounded-lg bg-[#1A1A1A] border-[#2B2B2B] animate-pulse"
>
  <div class="w-full aspect-square bg-[#2B2B2B]"></div>

  <div class="flex flex-col flex-1 p-4">
    <div class="h-5 mb-2 rounded bg-[#2B2B2B] w-3/4"></div>
    <div class="h-5 mb-6 rounded bg-[#2B2B2B] w-1/2"></div>

    <div class="flex items-center justify-between mt-auto">
      <div class="w-16 h-6 rounded bg-[#2B2B2B]"></div>

      <div class="w-10 h-10 rounded-md bg-[#2B2B2B]"></div>
    </div>
  </div>
</div>
