<div class="relative flex items-center w-full max-w-lg">
  <input
    #searchInput
    (keyup.enter)="buscar(searchInput.value)"
    type="text"
    placeholder="Busca un producto..."
    class="w-full py-2 pl-4 pr-10 text-sm text-[#F5F5F5] placeholder-[#9E9E9E] bg-[#2B2B2B] border border-[#2B2B2B] rounded-full focus:outline-none focus:border-[#E53935] transition-colors"
  />

  <button
    (click)="buscar(searchInput.value)"
    class="absolute right-3 text-[#9E9E9E] hover:text-[#E53935] transition-colors focus:outline-none"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="2"
      stroke="currentColor"
      class="w-5 h-5"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z"
      />
    </svg>
  </button>
</div>
