/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';

/* Asegurar que todos los botones y enlaces tengan el cursor pointer (dedito) */
button, 
a, 
input[type="button"], 
input[type="submit"], 
input[type="reset"],
[role="button"],
[routerLink],
select {
  cursor: pointer;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hidden-scrollbar::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.hidden-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
